.footer{
    width: 100%;
  overflow: hidden;
  background: #000;
}

.footer_container{
    max-width: 67rem;
  margin: auto;
  color: #fff;
  padding: 1rem;
}

.footer_upper{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.footer_row1{
    order: 2;
}



@media only screen and (max-width: 768px) {
    .footer_heading{
        font-size: 0.7rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.footer_social_cont{
margin-top: 1rem;
display: flex;
}

.main_footer_icon{
    width: 1.5rem;
    margin-right: 1rem;
}

/* footer row two */
.footer_row2{
    width: 55%;
    order: 1;
    max-width: 52rem;
}

.footer_heading1{
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .footer_heading1{
        font-size: 0.7rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.footer_short_desc{
    margin-top: 1rem;
    color: #eee;
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    .footer_short_desc{
        margin-top: 0.2rem;
        color: #eee;
        font-size: 1rem;
    }
}
.footer_short_desc span{
    display: block;
}

@media only screen and (max-width: 768px) {
    .footer_short_desc span{
        font-size: 10px;
    }
}

.footer_lower{
    text-align: center;
    border-top: 1px solid #444;
    padding: 2rem 0;
    font-size: 0.6rem;
}

.footer_lower a{
    text-decoration: underline;
    font-weight: 700;
}